*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* Color Theme Swatches in Hex */
$Moonscapes-1-hex: #0E1826;
$Moonscapes-2-hex: #4D5D73;
$Moonscapes-3-hex: #8090A6;
$Moonscapes-4-hex: #BAC8D9;
$Moonscapes-5-hex: #1E3040;

body {
  background: $Moonscapes-5-hex;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container{
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.input-box{
  border: 2px solid;
  border-color: $Moonscapes-2-hex;
  background-color: $Moonscapes-3-hex;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
    padding-bottom: 20px;
  }
  button{
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 1rem;
  }
}

.input{
  width: 500px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 5px;
  border:none;
  background-color: $Moonscapes-2-hex;
}

input, input::placeholder{
  text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
}
.city{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.note{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33% - 20px);
  border: 2px solid #262626;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin:10px;
  position: relative;
  

  &-title{
    font-size: 1.8rem;
    padding: 8px 0;
  }
  &-description{
    padding-bottom: 8px;
  }
  &-date{
    font-size: 0.8rem;
    align-self: flex-end;
  }

  button{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #fff;
    border: 1px solid #262626;
    padding: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}



.city__box--place{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  &-text{
    font-size: 1.2rem;
    font-weight: 300;
  }  
  &-country{
    font-size: 1.6rem;
    font-weight: bold;
  }
}

