*{
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
/* Color Theme Swatches in Hex */
$Moonscapes-1-hex: #0E1826;
$Moonscapes-2-hex: #4D5D73;
$Moonscapes-3-hex: #8090A6;
$Moonscapes-4-hex: #BAC8D9;
$Moonscapes-5-hex: #1E3040;

body {
  background: $Moonscapes-5-hex;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container{
  max-width: 1100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.input-box{
  border: 2px solid;
  border-color: $Moonscapes-2-hex;
  background-color: $Moonscapes-3-hex;
  border-radius: 5px;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  h1{
    text-align: center;
    padding-bottom: 20px;
  }
  button{
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 1rem;
  }
}

.input{
  width: 500px;
  height: 35px;
  padding-left: 10px;
  margin-bottom: 5px;
  border:none;
  background-color: $Moonscapes-2-hex;
}

input, input::placeholder{
  text-align: left;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 1.3rem;
}
.city{
  width: 100%;
  display: flex;
}

.city_card{
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 2px solid #262626;
  border-radius: 5px;;
  background-color: #ffffff22;
  padding: 20px;
  margin:10px;
}

.city__box--top{
  display: flex;
  align-items: center;
  justify-content: center;

  &-img{
    width: 100px;
    height: 100px;
  }
  &-temp{
    color: #fff;
    font-size: 2.2rem;
  }
}

.city__box--place{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  &-text{
    font-size: 1.2rem;
    font-weight: 300;
  }  
  &-country{
    font-size: 1.6rem;
    font-weight: bold;
  }
}

